<!-- Include this fragment in your main Thymeleaf view where pagination is needed -->
<div th:fragment="pagination" xmlns:th="http://www.thymeleaf.org">

    <nav aria-label="Page navigation example" th:if="${totalPages > 1 && sort == null}">
        <ul class="pagination justify-content-center">
            <li class="page-item rounded-circle " th:class="${currentPage == 0} ? 'disabled'">
                <a class="page-link rounded-circle me-1"
                   th:href="@{'/admin/dashboard/' + ${activeSection}(size=${5}, page=${currentPage - 1 })}"
                   aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item rounded-circle "
                th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                th:class="${pageNumber == currentPage} ? 'active'">
                <a class="page-link rounded-circle me-1"
                   th:href="@{'/admin/dashboard/' + ${activeSection}(size=${5}, page=${pageNumber})}"
                   th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item rounded-circle"
                th:class="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link rounded-circle me-1"
                   th:href="@{'/admin/dashboard/' + ${activeSection}(size=${5}, page=${currentPage + 1 })}"
                   aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
</div>
